.scrollToTop {
  position: fixed;
  bottom: 20px;
  margin-right: 10px;
  border: none;
  right: 20px;
  z-index: 2;
  &:hover .icon-shape-success {
    background-color: rgba(84, 218, 161, 0.9);;
  }
}
.scrollToTop:before {
  content: "";
  position: absolute;
  inset: 30%;
  transform: translateY(20%) rotate(-45deg);
  border-top: 5px solid #fff;
  border-right: 5px solid #fff;
}
