.typeaheadSearch {
  .form-control {
    &:focus {
      background-color: white;
      border-color: white;
    }
  } 
  @media (max-width: 991.98px) {
    .dropdown-menu.show {
      position: absolute !important;
    }
  }
  .dropdown-menu {
    transform: translateX(0) !important;
    transform: translateY(42px) !important;
  }
}
.clearButton {
  background: white;
  border-radius: 0;
  font-size: 20px;
  line-height: 0;
  border: none;
  padding-left: 5px;
  padding-right: 8px;
}
