.featured-icon-box {
    .fa {
        width: 34px;
        text-align: center;
    }
}

.card-lift--hover {
    h6 {
        font-weight: 700;
    }
    .description {
        font-weight: 500;
    }
}