.featured-icon-box {
    .fa {
        width: 34px;
        text-align: center;
    }
}

.contactus-banner {
    background: url("./../../assets/img/contact/banner.jpeg") no-repeat center center/100%;
}