.products-details-banner {
  background: url("./../../assets/img/product-details/banner.jpg") no-repeat center center/100%;
}
.product-details {
  img {
    max-width: 100%;
  }
  .card-body {
    h3, strong {
      font-weight: bold;
    }
  }
}
